body
{
background-size:contain;
background-image:url("https://images.pexels.com/photos/112811/pexels-photo-112811.jpeg?cs=srgb&dl=contemporary-design-112811.jpg&fm=jpg");
background-attachment:fixed;
background-repeat:no-repeat;
background-position:center;
background-color:rgb(240,240,240)
}


p
{
position:absolute;
top:200px;
left:500px;
color:blue;
font-size:150%;
}
.start
{
position:absolute;
top:400px;
left:800px;
font-size:200%
}

.h1
{
position:absolute;
top:10px;
left:620px;
color:navy;
background-color:white;
font-size:50%
}